<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<array>
			<string>2006-10-31</string>
			<string>3.600</string>
			<string>3.480</string>
			<string>3.630</string>
			<string>3.450</string>
			<string>12884370196</string>
			<string></string>
			<string>45290963097</string>
		</array>
		<array>
			<string>2006-11-30</string>
			<string>3.480</string>
			<string>3.940</string>
			<string>4.200</string>
			<string>3.470</string>
			<string>17757816620</string>
			<string>3.480</string>
			<string>67234886428</string>
		</array>
		<array>
			<string>2006-12-29</string>
			<string>3.940</string>
			<string>4.830</string>
			<string>5.020</string>
			<string>3.820</string>
			<string>9385807754</string>
			<string>3.940</string>
			<string>40958894274</string>
		</array>
		<array>
			<string>2007-01-31</string>
			<string>4.880</string>
			<string>4.530</string>
			<string>5.220</string>
			<string>4.490</string>
			<string>10811919175</string>
			<string>4.830</string>
			<string>51336162003</string>
		</array>
		<array>
			<string>2007-02-28</string>
			<string>4.510</string>
			<string>4.310</string>
			<string>4.740</string>
			<string>4.160</string>
			<string>5820191566</string>
			<string>4.530</string>
			<string>26326785680</string>
		</array>
		<array>
			<string>2007-03-30</string>
			<string>4.250</string>
			<string>4.380</string>
			<string>4.450</string>
			<string>3.960</string>
			<string>7444175551</string>
			<string>4.310</string>
			<string>31910730422</string>
		</array>
		<array>
			<string>2007-04-30</string>
			<string>4.410</string>
			<string>4.290</string>
			<string>4.440</string>
			<string>4.270</string>
			<string>6230528758</string>
			<string>4.380</string>
			<string>27040973855</string>
		</array>
		<array>
			<string>2007-05-31</string>
			<string>4.280</string>
			<string>4.090</string>
			<string>4.390</string>
			<string>4.010</string>
			<string>5580510176</string>
			<string>4.290</string>
			<string>23576601396</string>
		</array>
		<array>
			<string>2007-06-29</string>
			<string>4.080</string>
			<string>4.340</string>
			<string>4.540</string>
			<string>4.000</string>
			<string>7556833805</string>
			<string>4.090</string>
			<string>32286206808</string>
		</array>
		<array>
			<string>2007-07-31</string>
			<string>4.380</string>
			<string>4.840</string>
			<string>5.060</string>
			<string>4.350</string>
			<string>11630115834</string>
			<string>4.340</string>
			<string>55644692340</string>
		</array>
		<array>
			<string>2007-08-31</string>
			<string>4.760</string>
			<string>5.080</string>
			<string>5.120</string>
			<string>4.000</string>
			<string>14282804013</string>
			<string>4.840</string>
			<string>67482741095</string>
		</array>
		<array>
			<string>2007-09-28</string>
			<string>4.700</string>
			<string>5.450</string>
			<string>5.590</string>
			<string>4.700</string>
			<string>8297170684</string>
			<string>5.080</string>
			<string>43287918117</string>
		</array>
		<array>
			<string>2007-10-31</string>
			<string>5.560</string>
			<string>7.320</string>
			<string>7.490</string>
			<string>5.560</string>
			<string>13862489175</string>
			<string>5.450</string>
			<string>91599853258</string>
		</array>
		<array>
			<string>2007-11-30</string>
			<string>7.340</string>
			<string>6.160</string>
			<string>7.410</string>
			<string>5.680</string>
			<string>10097910845</string>
			<string>7.320</string>
			<string>63475018925</string>
		</array>
		<array>
			<string>2007-12-31</string>
			<string>6.100</string>
			<string>5.600</string>
			<string>6.470</string>
			<string>5.370</string>
			<string>5970580808</string>
			<string>6.160</string>
			<string>35345181216</string>
		</array>
		<array>
			<string>2008-01-31</string>
			<string>5.580</string>
			<string>4.630</string>
			<string>5.620</string>
			<string>4.240</string>
			<string>12794134904</string>
			<string>5.600</string>
			<string>64323349118</string>
		</array>
		<array>
			<string>2008-02-29</string>
			<string>4.700</string>
			<string>5.540</string>
			<string>5.590</string>
			<string>4.650</string>
			<string>7544351253</string>
			<string>4.630</string>
			<string>38929730328</string>
		</array>
		<array>
			<string>2008-03-31</string>
			<string>5.310</string>
			<string>5.420</string>
			<string>5.600</string>
			<string>4.520</string>
			<string>9035840273</string>
			<string>5.540</string>
			<string>46197187067</string>
		</array>
		<array>
			<string>2008-04-30</string>
			<string>5.500</string>
			<string>6.170</string>
			<string>6.320</string>
			<string>5.420</string>
			<string>8464333797</string>
			<string>5.420</string>
			<string>50453510458</string>
		</array>
		<array>
			<string>2008-05-30</string>
			<string>6.300</string>
			<string>5.830</string>
			<string>6.330</string>
			<string>5.670</string>
			<string>5133976364</string>
			<string>6.170</string>
			<string>30865096924</string>
		</array>
		<array>
			<string>2008-06-30</string>
			<string>5.850</string>
			<string>5.330</string>
			<string>5.960</string>
			<string>5.270</string>
			<string>5183514663</string>
			<string>5.830</string>
			<string>28755006500</string>
		</array>
		<array>
			<string>2008-07-31</string>
			<string>5.220</string>
			<string>5.900</string>
			<string>6.000</string>
			<string>4.770</string>
			<string>8666937789</string>
			<string>5.330</string>
			<string>47793239292</string>
		</array>
		<array>
			<string>2008-08-29</string>
			<string>5.850</string>
			<string>5.410</string>
			<string>5.930</string>
			<string>5.060</string>
			<string>6602285658</string>
			<string>5.900</string>
			<string>35859778295</string>
		</array>
		<array>
			<string>2008-09-30</string>
			<string>5.350</string>
			<string>4.580</string>
			<string>5.450</string>
			<string>3.450</string>
			<string>13367573455</string>
			<string>5.410</string>
			<string>62122840498</string>
		</array>
		<array>
			<string>2008-10-31</string>
			<string>4.460</string>
			<string>3.540</string>
			<string>4.600</string>
			<string>2.610</string>
			<string>15812122817</string>
			<string>4.580</string>
			<string>58609509094</string>
		</array>
		<array>
			<string>2008-11-28</string>
			<string>3.750</string>
			<string>3.800</string>
			<string>4.180</string>
			<string>3.120</string>
			<string>10513679090</string>
			<string>3.540</string>
			<string>38887796440</string>
		</array>
		<array>
			<string>2008-12-31</string>
			<string>3.750</string>
			<string>4.080</string>
			<string>4.520</string>
			<string>3.730</string>
			<string>6708821997</string>
			<string>3.800</string>
			<string>28211405567</string>
		</array>
		<array>
			<string>2009-01-30</string>
			<string>4.080</string>
			<string>3.350</string>
			<string>4.430</string>
			<string>3.160</string>
			<string>8194105681</string>
			<string>4.080</string>
			<string>29350167304</string>
		</array>
		<array>
			<string>2009-02-27</string>
			<string>3.370</string>
			<string>3.180</string>
			<string>3.720</string>
			<string>3.180</string>
			<string>6032421480</string>
			<string>3.350</string>
			<string>20501019131</string>
		</array>
		<array>
			<string>2009-03-31</string>
			<string>3.100</string>
			<string>4.030</string>
			<string>4.290</string>
			<string>2.990</string>
			<string>11133079275</string>
			<string>3.180</string>
			<string>39529997136</string>
		</array>
		<array>
			<string>2009-04-30</string>
			<string>4.100</string>
			<string>4.460</string>
			<string>4.570</string>
			<string>3.950</string>
			<string>11121945182</string>
			<string>4.030</string>
			<string>47640296997</string>
		</array>
		<array>
			<string>2009-05-29</string>
			<string>4.560</string>
			<string>4.880</string>
			<string>4.900</string>
			<string>4.420</string>
			<string>8641032441</string>
			<string>4.460</string>
			<string>40721611835</string>
		</array>
		<array>
			<string>2009-06-30</string>
			<string>4.890</string>
			<string>5.400</string>
			<string>5.540</string>
			<string>4.690</string>
			<string>10575509921</string>
			<string>4.880</string>
			<string>53991425824</string>
		</array>
		<array>
			<string>2009-07-31</string>
			<string>5.520</string>
			<string>5.580</string>
			<string>5.760</string>
			<string>4.890</string>
			<string>7178155744</string>
			<string>5.400</string>
			<string>38184212308</string>
		</array>
		<array>
			<string>2009-08-31</string>
			<string>5.530</string>
			<string>5.290</string>
			<string>5.600</string>
			<string>5.100</string>
			<string>8615737600</string>
			<string>5.580</string>
			<string>45606520620</string>
		</array>
		<array>
			<string>2009-09-30</string>
			<string>5.310</string>
			<string>5.840</string>
			<string>6.370</string>
			<string>5.210</string>
			<string>7769761300</string>
			<string>5.290</string>
			<string>45233145613</string>
		</array>
		<array>
			<string>2009-10-30</string>
			<string>5.680</string>
			<string>6.290</string>
			<string>6.520</string>
			<string>5.640</string>
			<string>6015996269</string>
			<string>5.840</string>
			<string>37091090340</string>
		</array>
		<array>
			<string>2009-11-30</string>
			<string>6.100</string>
			<string>6.550</string>
			<string>7.070</string>
			<string>6.070</string>
			<string>6523854710</string>
			<string>6.290</string>
			<string>43287393866</string>
		</array>
		<array>
			<string>2009-12-31</string>
			<string>6.500</string>
			<string>6.440</string>
			<string>6.850</string>
			<string>6.100</string>
			<string>4863337346</string>
			<string>6.550</string>
			<string>31433291688</string>
		</array>
		<array>
			<string>2010-01-29</string>
			<string>6.440</string>
			<string>5.700</string>
			<string>6.520</string>
			<string>5.550</string>
			<string>8292255914</string>
			<string>6.440</string>
			<string>49372434797</string>
		</array>
		<array>
			<string>2010-02-26</string>
			<string>5.630</string>
			<string>5.490</string>
			<string>5.880</string>
			<string>5.380</string>
			<string>5125822969</string>
			<string>5.700</string>
			<string>28578458692</string>
		</array>
		<array>
			<string>2010-03-31</string>
			<string>5.560</string>
			<string>5.920</string>
			<string>5.990</string>
			<string>5.550</string>
			<string>6946222357</string>
			<string>5.490</string>
			<string>40343997131</string>
		</array>
		<array>
			<string>2010-04-30</string>
			<string>5.980</string>
			<string>5.770</string>
			<string>6.340</string>
			<string>5.650</string>
			<string>5703589038</string>
			<string>5.920</string>
			<string>34343205706</string>
		</array>
		<array>
			<string>2010-05-31</string>
			<string>5.680</string>
			<string>5.770</string>
			<string>5.810</string>
			<string>5.400</string>
			<string>6026172051</string>
			<string>5.770</string>
			<string>33878554548</string>
		</array>
		<array>
			<string>2010-06-30</string>
			<string>5.670</string>
			<string>5.720</string>
			<string>6.030</string>
			<string>5.520</string>
			<string>4399749862</string>
			<string>5.770</string>
			<string>25464653456</string>
		</array>
		<array>
			<string>2010-07-30</string>
			<string>5.740</string>
			<string>5.930</string>
			<string>5.960</string>
			<string>5.560</string>
			<string>4453243930</string>
			<string>5.720</string>
			<string>25682374384</string>
		</array>
		<array>
			<string>2010-08-31</string>
			<string>5.970</string>
			<string>5.650</string>
			<string>6.100</string>
			<string>5.540</string>
			<string>4414857985</string>
			<string>5.930</string>
			<string>25536796225</string>
		</array>
		<array>
			<string>2010-09-30</string>
			<string>5.650</string>
			<string>5.780</string>
			<string>5.990</string>
			<string>5.620</string>
			<string>5454411310</string>
			<string>5.650</string>
			<string>31911974443</string>
		</array>
		<array>
			<string>2010-10-29</string>
			<string>5.800</string>
			<string>6.240</string>
			<string>6.440</string>
			<string>5.730</string>
			<string>8853013026</string>
			<string>5.780</string>
			<string>54306135301</string>
		</array>
		<array>
			<string>2010-11-30</string>
			<string>6.340</string>
			<string>6.040</string>
			<string>6.900</string>
			<string>5.870</string>
			<string>8122309735</string>
			<string>6.240</string>
			<string>52102110049</string>
		</array>
		<array>
			<string>2010-12-31</string>
			<string>5.960</string>
			<string>5.790</string>
			<string>6.080</string>
			<string>5.580</string>
			<string>5162211969</string>
			<string>6.040</string>
			<string>30091470490</string>
		</array>
		<array>
			<string>2011-01-31</string>
			<string>5.820</string>
			<string>5.800</string>
			<string>6.130</string>
			<string>5.700</string>
			<string>5099656674</string>
			<string>5.790</string>
			<string>30217267904</string>
		</array>
		<array>
			<string>2011-02-28</string>
			<string>5.800</string>
			<string>5.980</string>
			<string>5.990</string>
			<string>5.620</string>
			<string>4423929286</string>
			<string>5.800</string>
			<string>25732778443</string>
		</array>
		<array>
			<string>2011-03-31</string>
			<string>6.020</string>
			<string>6.460</string>
			<string>6.500</string>
			<string>5.900</string>
			<string>7238925496</string>
			<string>5.980</string>
			<string>44680760449</string>
		</array>
		<array>
			<string>2011-04-29</string>
			<string>6.500</string>
			<string>6.570</string>
			<string>6.750</string>
			<string>6.400</string>
			<string>4521122412</string>
			<string>6.460</string>
			<string>29780081627</string>
		</array>
		<array>
			<string>2011-05-31</string>
			<string>6.600</string>
			<string>6.520</string>
			<string>6.680</string>
			<string>6.140</string>
			<string>3754231968</string>
			<string>6.570</string>
			<string>23896442693</string>
		</array>
		<array>
			<string>2011-06-30</string>
			<string>6.510</string>
			<string>5.910</string>
			<string>6.550</string>
			<string>5.680</string>
			<string>6031491331</string>
			<string>6.520</string>
			<string>35685168050</string>
		</array>
		<array>
			<string>2011-07-29</string>
			<string>6.060</string>
			<string>5.930</string>
			<string>6.060</string>
			<string>5.500</string>
			<string>4686264508</string>
			<string>5.910</string>
			<string>27153235903</string>
		</array>
		<array>
			<string>2011-08-31</string>
			<string>6.010</string>
			<string>5.120</string>
			<string>6.060</string>
			<string>4.680</string>
			<string>9107109495</string>
			<string>5.930</string>
			<string>46991727184</string>
		</array>
		<array>
			<string>2011-09-30</string>
			<string>5.170</string>
			<string>3.820</string>
			<string>5.270</string>
			<string>3.750</string>
			<string>9042492695</string>
			<string>5.120</string>
			<string>39929714608</string>
		</array>
		<array>
			<string>2011-10-31</string>
			<string>3.710</string>
			<string>4.940</string>
			<string>5.150</string>
			<string>3.460</string>
			<string>8631054645</string>
			<string>3.820</string>
			<string>36875342706</string>
		</array>
		<array>
			<string>2011-11-30</string>
			<string>4.820</string>
			<string>4.310</string>
			<string>5.220</string>
			<string>4.140</string>
			<string>7559278875</string>
			<string>4.940</string>
			<string>35298687810</string>
		</array>
		<array>
			<string>2011-12-30</string>
			<string>4.700</string>
			<string>4.610</string>
			<string>4.930</string>
			<string>4.500</string>
			<string>4995333921</string>
			<string>4.310</string>
			<string>23561441175</string>
		</array>
		<array>
			<string>2012-01-31</string>
			<string>4.700</string>
			<string>5.430</string>
			<string>5.610</string>
			<string>4.620</string>
			<string>5922123397</string>
			<string>4.610</string>
			<string>30772808611</string>
		</array>
		<array>
			<string>2012-02-29</string>
			<string>5.440</string>
			<string>5.690</string>
			<string>5.720</string>
			<string>5.270</string>
			<string>6381605563</string>
			<string>5.430</string>
			<string>35208819441</string>
		</array>
		<array>
			<string>2012-03-30</string>
			<string>5.700</string>
			<string>5.010</string>
			<string>5.720</string>
			<string>4.890</string>
			<string>6067067701</string>
			<string>5.690</string>
			<string>31703041310</string>
		</array>
		<array>
			<string>2012-04-30</string>
			<string>5.070</string>
			<string>5.180</string>
			<string>5.330</string>
			<string>4.920</string>
			<string>8532290655</string>
			<string>5.010</string>
			<string>43418998629</string>
		</array>
		<array>
			<string>2012-05-31</string>
			<string>5.240</string>
			<string>4.720</string>
			<string>5.260</string>
			<string>4.500</string>
			<string>7251578576</string>
			<string>5.180</string>
			<string>34674580144</string>
		</array>
		<array>
			<string>2012-06-29</string>
			<string>4.640</string>
			<string>4.290</string>
			<string>4.740</string>
			<string>4.140</string>
			<string>6745008073</string>
			<string>4.720</string>
			<string>29474986355</string>
		</array>
		<array>
			<string>2012-07-31</string>
			<string>4.370</string>
			<string>4.450</string>
			<string>4.460</string>
			<string>3.970</string>
			<string>6361146219</string>
			<string>4.290</string>
			<string>26538596340</string>
		</array>
		<array>
			<string>2012-08-31</string>
			<string>4.420</string>
			<string>4.200</string>
			<string>4.600</string>
			<string>4.170</string>
			<string>4722225443</string>
			<string>4.450</string>
			<string>20966696852</string>
		</array>
		<array>
			<string>2012-09-28</string>
			<string>4.150</string>
			<string>4.580</string>
			<string>4.610</string>
			<string>4.050</string>
			<string>5794368444</string>
			<string>4.200</string>
			<string>25279706100</string>
		</array>
		<array>
			<string>2012-10-31</string>
			<string>4.630</string>
			<string>5.130</string>
			<string>5.200</string>
			<string>4.540</string>
			<string>5888782994</string>
			<string>4.580</string>
			<string>29047945936</string>
		</array>
		<array>
			<string>2012-11-30</string>
			<string>5.120</string>
			<string>5.230</string>
			<string>5.270</string>
			<string>4.960</string>
			<string>4787839494</string>
			<string>5.130</string>
			<string>24634231998</string>
		</array>
		<array>
			<string>2012-12-31</string>
			<string>5.200</string>
			<string>5.500</string>
			<string>5.610</string>
			<string>5.080</string>
			<string>5111081823</string>
			<string>5.230</string>
			<string>27701114813</string>
		</array>
		<array>
			<string>2013-01-31</string>
			<string>5.580</string>
			<string>5.840</string>
			<string>6.000</string>
			<string>5.580</string>
			<string>6959821410</string>
			<string>5.500</string>
			<string>40387879891</string>
		</array>
		<array>
			<string>2013-02-28</string>
			<string>5.850</string>
			<string>5.570</string>
			<string>5.950</string>
			<string>5.350</string>
			<string>3855692335</string>
			<string>5.840</string>
			<string>21734636397</string>
		</array>
		<array>
			<string>2013-03-28</string>
			<string>5.520</string>
			<string>5.440</string>
			<string>5.640</string>
			<string>5.190</string>
			<string>5554058553</string>
			<string>5.570</string>
			<string>29955642652</string>
		</array>
		<array>
			<string>2013-04-30</string>
			<string>5.380</string>
			<string>5.460</string>
			<string>5.500</string>
			<string>5.030</string>
			<string>5210692121</string>
			<string>5.440</string>
			<string>27398876434</string>
		</array>
		<array>
			<string>2013-05-31</string>
			<string>5.450</string>
			<string>5.470</string>
			<string>5.700</string>
			<string>5.320</string>
			<string>7730847775</string>
			<string>5.460</string>
			<string>42469087896</string>
		</array>
		<array>
			<string>2013-06-28</string>
			<string>5.400</string>
			<string>4.890</string>
			<string>5.500</string>
			<string>4.390</string>
			<string>8990257797</string>
			<string>5.470</string>
			<string>43581127006</string>
		</array>
		<array>
			<string>2013-07-31</string>
			<string>4.920</string>
			<string>5.100</string>
			<string>5.190</string>
			<string>4.550</string>
			<string>6015426363</string>
			<string>4.890</string>
			<string>29394521907</string>
		</array>
		<array>
			<string>2013-08-30</string>
			<string>5.120</string>
			<string>5.090</string>
			<string>5.400</string>
			<string>4.900</string>
			<string>4656013486</string>
			<string>5.100</string>
			<string>23876807309</string>
		</array>
		<array>
			<string>2013-09-30</string>
			<string>5.180</string>
			<string>5.410</string>
			<string>5.640</string>
			<string>5.140</string>
			<string>5569666824</string>
			<string>5.090</string>
			<string>30237116307</string>
		</array>
		<array>
			<string>2013-10-31</string>
			<string>5.470</string>
			<string>5.430</string>
			<string>5.570</string>
			<string>5.100</string>
			<string>4392722126</string>
			<string>5.410</string>
			<string>23683777228</string>
		</array>
		<array>
			<string>2013-11-29</string>
			<string>5.430</string>
			<string>5.570</string>
			<string>5.630</string>
			<string>5.150</string>
			<string>4966184376</string>
			<string>5.430</string>
			<string>26933640987</string>
		</array>
		<array>
			<string>2013-12-31</string>
			<string>5.600</string>
			<string>5.240</string>
			<string>5.660</string>
			<string>5.160</string>
			<string>4588882038</string>
			<string>5.570</string>
			<string>24666400282</string>
		</array>
		<array>
			<string>2014-01-30</string>
			<string>5.240</string>
			<string>4.810</string>
			<string>5.270</string>
			<string>4.620</string>
			<string>5785512237</string>
			<string>5.240</string>
			<string>28300510561</string>
		</array>
		<array>
			<string>2014-02-28</string>
			<string>4.670</string>
			<string>4.650</string>
			<string>4.880</string>
			<string>4.570</string>
			<string>4604652921</string>
			<string>4.810</string>
			<string>21661411642</string>
		</array>
		<array>
			<string>2014-03-31</string>
			<string>4.620</string>
			<string>4.770</string>
			<string>4.770</string>
			<string>4.330</string>
			<string>5641210489</string>
			<string>4.650</string>
			<string>25613055596</string>
		</array>
		<array>
			<string>2014-04-30</string>
			<string>4.790</string>
			<string>4.620</string>
			<string>4.970</string>
			<string>4.560</string>
			<string>5044737288</string>
			<string>4.770</string>
			<string>24095427239</string>
		</array>
		<array>
			<string>2014-05-30</string>
			<string>4.580</string>
			<string>5.040</string>
			<string>5.090</string>
			<string>4.560</string>
			<string>4541611626</string>
			<string>4.620</string>
			<string>22070791593</string>
		</array>
		<array>
			<string>2014-06-30</string>
			<string>5.130</string>
			<string>4.900</string>
			<string>5.250</string>
			<string>4.800</string>
			<string>4836190853</string>
			<string>5.040</string>
			<string>24264370478</string>
		</array>
		<array>
			<string>2014-07-31</string>
			<string>4.960</string>
			<string>5.330</string>
			<string>5.350</string>
			<string>4.900</string>
			<string>4901686770</string>
			<string>4.900</string>
			<string>25023822912</string>
		</array>
		<array>
			<string>2014-08-29</string>
			<string>5.270</string>
			<string>5.140</string>
			<string>5.330</string>
			<string>5.080</string>
			<string>3646352515</string>
			<string>5.330</string>
			<string>19014969154</string>
		</array>
		<array>
			<string>2014-09-30</string>
			<string>5.110</string>
			<string>4.840</string>
			<string>5.340</string>
			<string>4.820</string>
			<string>6336552720</string>
			<string>5.140</string>
			<string>32465625570</string>
		</array>
		<array>
			<string>2014-10-31</string>
			<string>4.780</string>
			<string>5.130</string>
			<string>5.160</string>
			<string>4.740</string>
			<string>5473347318</string>
			<string>4.840</string>
			<string>27125672443</string>
		</array>
		<array>
			<string>2014-11-28</string>
			<string>5.190</string>
			<string>5.260</string>
			<string>5.300</string>
			<string>4.910</string>
			<string>6047229225</string>
			<string>5.130</string>
			<string>30736121988</string>
		</array>
		<array>
			<string>2014-12-31</string>
			<string>5.190</string>
			<string>5.660</string>
			<string>5.700</string>
			<string>5.100</string>
			<string>9127911441</string>
			<string>5.260</string>
			<string>49446276959</string>
		</array>
		<array>
			<string>2015-01-30</string>
			<string>5.680</string>
			<string>5.580</string>
			<string>5.900</string>
			<string>5.380</string>
			<string>5608860651</string>
			<string>5.660</string>
			<string>32007513442</string>
		</array>
		<array>
			<string>2015-02-27</string>
			<string>5.510</string>
			<string>5.660</string>
			<string>5.750</string>
			<string>5.440</string>
			<string>3908803220</string>
			<string>5.580</string>
			<string>21956330449</string>
		</array>
		<array>
			<string>2015-03-31</string>
			<string>5.710</string>
			<string>5.720</string>
			<string>5.750</string>
			<string>5.360</string>
			<string>6052493312</string>
			<string>5.660</string>
			<string>33757264623</string>
		</array>
		<array>
			<string>2015-04-30</string>
			<string>5.720</string>
			<string>6.740</string>
			<string>7.100</string>
			<string>5.720</string>
			<string>9721678711</string>
			<string>5.720</string>
			<string>64148358996</string>
		</array>
		<array>
			<string>2015-05-29</string>
			<string>6.730</string>
			<string>6.750</string>
			<string>7.000</string>
			<string>6.380</string>
			<string>5653805319</string>
			<string>6.740</string>
			<string>37604224709</string>
		</array>
		<array>
			<string>2015-06-30</string>
			<string>6.680</string>
			<string>6.160</string>
			<string>6.880</string>
			<string>5.950</string>
			<string>6234038603</string>
			<string>6.750</string>
			<string>40691400384</string>
		</array>
		<array>
			<string>2015-07-31</string>
			<string>6.190</string>
			<string>5.340</string>
			<string>6.350</string>
			<string>5.260</string>
			<string>8178180131</string>
			<string>6.160</string>
			<string>46546036066</string>
		</array>
		<array>
			<string>2015-08-31</string>
			<string>5.300</string>
			<string>4.580</string>
			<string>5.490</string>
			<string>4.500</string>
			<string>6823895246</string>
			<string>5.340</string>
			<string>33728520989</string>
		</array>
		<array>
			<string>2015-09-30</string>
			<string>4.600</string>
			<string>4.460</string>
			<string>4.910</string>
			<string>4.300</string>
			<string>6865241335</string>
			<string>4.580</string>
			<string>31552732881</string>
		</array>
		<array>
			<string>2015-10-30</string>
			<string>4.490</string>
			<string>4.950</string>
			<string>5.190</string>
			<string>4.480</string>
			<string>5008795573</string>
			<string>4.460</string>
			<string>24746706056</string>
		</array>
		<array>
			<string>2015-11-30</string>
			<string>4.900</string>
			<string>4.690</string>
			<string>5.070</string>
			<string>4.620</string>
			<string>5024546376</string>
			<string>4.950</string>
			<string>24198434798</string>
		</array>
		<array>
			<string>2015-12-31</string>
			<string>4.730</string>
			<string>4.680</string>
			<string>4.830</string>
			<string>4.430</string>
			<string>4571563422</string>
			<string>4.690</string>
			<string>21264629338</string>
		</array>
		<array>
			<string>2016-01-29</string>
			<string>4.640</string>
			<string>4.030</string>
			<string>4.680</string>
			<string>3.820</string>
			<string>6055076986</string>
			<string>4.680</string>
			<string>24911361463</string>
		</array>
		<array>
			<string>2016-02-29</string>
			<string>4.040</string>
			<string>3.840</string>
			<string>4.050</string>
			<string>3.720</string>
			<string>4329738214</string>
			<string>4.030</string>
			<string>16912787307</string>
		</array>
		<array>
			<string>2016-03-31</string>
			<string>3.890</string>
			<string>4.340</string>
			<string>4.400</string>
			<string>3.830</string>
			<string>4611222039</string>
			<string>3.840</string>
			<string>19303426473</string>
		</array>
		<array>
			<string>2016-04-29</string>
			<string>4.340</string>
			<string>4.210</string>
			<string>4.420</string>
			<string>4.000</string>
			<string>4331632478</string>
			<string>4.340</string>
			<string>18351241454</string>
		</array>
		<array>
			<string>2016-05-31</string>
			<string>4.190</string>
			<string>4.120</string>
			<string>4.200</string>
			<string>3.820</string>
			<string>5388764195</string>
			<string>4.210</string>
			<string>21448638999</string>
		</array>
		<array>
			<string>2016-06-30</string>
			<string>4.120</string>
			<string>4.290</string>
			<string>4.470</string>
			<string>4.030</string>
			<string>7226309332</string>
			<string>4.120</string>
			<string>30677445150</string>
		</array>
		<array>
			<string>2016-07-29</string>
			<string>4.330</string>
			<string>4.390</string>
			<string>4.450</string>
			<string>4.100</string>
			<string>4736372579</string>
			<string>4.290</string>
			<string>20426397946</string>
		</array>
		<array>
			<string>2016-08-31</string>
			<string>4.430</string>
			<string>4.930</string>
			<string>5.020</string>
			<string>4.370</string>
			<string>7406644442</string>
			<string>4.390</string>
			<string>35632719476</string>
		</array>
		<array>
			<string>2016-09-30</string>
			<string>4.910</string>
			<string>4.850</string>
			<string>5.120</string>
			<string>4.770</string>
			<string>7307816233</string>
			<string>4.930</string>
			<string>28038779711</string>
		</array>
		<array>
			<string>2016-10-31</string>
			<string>4.950</string>
			<string>4.670</string>
			<string>5.050</string>
			<string>4.610</string>
			<string>4058258977</string>
			<string>4.990</string>
			<string>19433364139</string>
		</array>
		<array>
			<string>2016-11-30</string>
			<string>4.700</string>
			<string>4.750</string>
			<string>4.830</string>
			<string>4.430</string>
			<string>4981636376</string>
			<string>4.670</string>
			<string>23032470604</string>
		</array>
		<array>
			<string>2016-12-30</string>
			<string>4.770</string>
			<string>4.650</string>
			<string>4.900</string>
			<string>4.450</string>
			<string>5280110216</string>
			<string>4.750</string>
			<string>24666952414</string>
		</array>
		<array>
			<string>2017-01-27</string>
			<string>4.650</string>
			<string>4.780</string>
			<string>4.830</string>
			<string>4.600</string>
			<string>3285431273</string>
			<string>4.650</string>
			<string>15555097531</string>
		</array>
		<array>
			<string>2017-02-28</string>
			<string>4.810</string>
			<string>5.090</string>
			<string>5.200</string>
			<string>4.680</string>
			<string>5935268096</string>
			<string>4.780</string>
			<string>29670339809</string>
		</array>
		<array>
			<string>2017-03-31</string>
			<string>5.100</string>
			<string>5.080</string>
			<string>5.270</string>
			<string>4.900</string>
			<string>5431639429</string>
			<string>5.090</string>
			<string>27664189602</string>
		</array>
		<array>
			<string>2017-04-28</string>
			<string>5.100</string>
			<string>5.080</string>
			<string>5.140</string>
			<string>4.880</string>
			<string>3438160705</string>
			<string>5.080</string>
			<string>17263898443</string>
		</array>
		<array>
			<string>2017-05-31</string>
			<string>5.100</string>
			<string>5.210</string>
			<string>5.250</string>
			<string>4.930</string>
			<string>4483967075</string>
			<string>5.080</string>
			<string>22848161081</string>
		</array>
		<array>
			<string>2017-06-30</string>
			<string>5.240</string>
			<string>5.270</string>
			<string>5.430</string>
			<string>5.100</string>
			<string>6597200004</string>
			<string>5.210</string>
			<string>34576862038</string>
		</array>
		<array>
			<string>2017-07-28</string>
			<string>5.000</string>
			<string>5.420</string>
			<string>5.500</string>
			<string>4.830</string>
			<string>6264228639</string>
			<string>5.270</string>
			<string>32686959496</string>
		</array>
	</array>
</dict>
</plist>
