<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>IssueShr</key>
		<string>867.9亿</string>
		<key>PB</key>
		<string>0.92</string>
		<key>PE</key>
		<string>6.32</string>
		<key>avePrice</key>
		<string>5.417</string>
		<key>dataType</key>
		<string>10000</string>
		<key>entrustRatio</key>
		<string>-39.61%</string>
		<key>eps</key>
		<string>0.858</string>
		<key>exchange</key>
		<string>HKEX</string>
		<key>high20</key>
		<string>5.500</string>
		<key>high52</key>
		<string>5.500</string>
		<key>highAndLow</key>
		<string>-0.060</string>
		<key>highAndLowLimited</key>
		<string>-1.09</string>
		<key>highPrice</key>
		<string>5.450</string>
		<key>highest</key>
		<string>7.490</string>
		<key>hkMarketCap</key>
		<string>4704亿</string>
		<key>inCount</key>
		<string>1.370亿</string>
		<key>lastPrice</key>
		<string>5.420</string>
		<key>lotSize</key>
		<string>1000</string>
		<key>low20</key>
		<string>4.830</string>
		<key>low52</key>
		<string>4.370</string>
		<key>lowPrice</key>
		<string>5.390</string>
		<key>lowest</key>
		<string>2.610</string>
		<key>name</key>
		<string>工商银行</string>
		<key>openPrice</key>
		<string>5.410</string>
		<key>outCount</key>
		<string>1.667亿</string>
		<key>perNetAssets</key>
		<string>5.902</string>
		<key>preClosePrice</key>
		<string>5.480</string>
		<key>relativeRatio</key>
		<string>1.050</string>
		<key>securityCode</key>
		<string>01398.HK</string>
		<key>spreadLevel</key>
		<string>0.01</string>
		<key>status</key>
		<string>0</string>
		<key>statusDescr</key>
		<string>正常交易</string>
		<key>swing</key>
		<string>1.09%</string>
		<key>totShr</key>
		<string>3564亿</string>
		<key>totalMarketCap</key>
		<string>19317亿</string>
		<key>tradeStatusCode</key>
		<string>5</string>
		<key>tradeStatusDescr</key>
		<string>已收盘</string>
		<key>tradingDay</key>
		<string>2017-07-28 16:09</string>
		<key>turnOver</key>
		<string>19.17亿</string>
		<key>turnOverRatio</key>
		<string>0.41%</string>
		<key>volume</key>
		<string>3.539亿</string>
	</dict>
</dict>
</plist>
